<div class="city-detail">
  <section class="city-header">
    <h2><%= @name %></h2>
    <h4><%= @info["currently"]["summary"] %></h4>
    <h1><%= @info["currently"]["temperature"].round %>˚</h1>
  </section>

  <section class="today">
    <ul class="today-overview">
      <li>Saturday</li>
      <li></li>
      <li><%= @info["daily"]["data"][0]["temperatureMin"].round %>˚</li>
      <li><%= @info["daily"]["data"][0]["temperatureMax"].round %>˚</li>
    </ul>

    <div class="today-hourly-list-container">
      <ul class="today-hourly-list" style="width: 1536px;">
        <li>
          <ul>
            <li>Now</li>
            
            <li><%= @info["currently"]["temperature"].round %>˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>9 AM</li>
            
            <li>50˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>10 AM</li>
            
            <li>53˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>11 AM</li>
            
            <li>56˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>12 PM</li>
            
            <li>58˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>1 PM</li>
            
            <li>60˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>2 PM</li>
            
            <li>62˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>3 PM</li>
            
            <li>62˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>4 PM</li>
            
            <li>62˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>5 PM</li>
            
            <li>59˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>6 PM</li>
            
            <li>56˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>7 PM</li>
            
            <li>54˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>8 PM</li>
            
            <li>53˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>9 PM</li>
            
            <li>52˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>10 PM</li>
            
            <li>51˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>11 PM</li>
            
            <li>51˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>12 AM</li>
            
            <li>50˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>1 AM</li>
            
            <li>50˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>2 AM</li>
            
            <li>50˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>3 AM</li>
            
            <li>49˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>4 AM</li>
            
            <li>48˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>5 AM</li>
            
            <li>48˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>6 AM</li>
            
            <li>48˚</li>
          </ul>
        </li>
        <li>
          <ul>
            <li>7 AM</li>
            
            <li>48˚</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>

  <section class="forecast">
    <ul class="forecast-list">
      <li>
        <ul>
          <li>Saturday</li>
          
          <li><%= @info["daily"]["data"][0]["temperatureMin"].round %>˚</li>
          <li><%= @info["daily"]["data"][0]["temperatureMax"].round %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Sunday</li>
          
          <li><%= @info["daily"]["data"][1]["temperatureMin"].round %>˚</li>
          <li><%= @info["daily"]["data"][1]["temperatureMax"].round %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Monday</li>
          
          <li><%= @info["daily"]["data"][2]["temperatureMin"].round %>˚</li>
          <li><%= @info["daily"]["data"][2]["temperatureMax"].round %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Tuesday</li>
          
          <li><%= @info["daily"]["data"][3]["temperatureMin"].round %>˚</li>
          <li><%= @info["daily"]["data"][3]["temperatureMax"].round %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Wednesday</li>
          
          <li><%= @info["daily"]["data"][4]["temperatureMin"].round %>˚</li>
          <li><%= @info["daily"]["data"][4]["temperatureMax"].round %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Thursday</li>
          
          <li><%= @info["daily"]["data"][5]["temperatureMin"].round %>˚</li>
          <li><%= @info["daily"]["data"][5]["temperatureMax"].round %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Friday</li>
          
          <li><%= @info["daily"]["data"][6]["temperatureMin"].round %>˚</li>
          <li><%= @info["daily"]["data"][6]["temperatureMax"].round %>˚</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Saturday</li>
          
          <li><%= @info["daily"]["data"][7]["temperatureMin"].round %>˚</li>
          <li><%= @info["daily"]["data"][7]["temperatureMax"].round %>˚</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="today-details">
    <p class="today-summary"><%= @info["daily"]["summary"]%></p>

    <ul class="today-details-list">
      <li>
        <ul>
          <li>Sunrise:</li>
          <li><%= @info["daily"]["data"][0]["sunriseTime"] %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Sunset:</li>
          <li><%= @info["daily"]["data"][0]["sunriseTime"] %></li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Chance of Rain:</li>
          <li><%= @info["currently"]["precipProbability"] %>%</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Humidity:</li>
          <li><%= @info["currently"]["humidity"] %>%</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Wind:</li>
          <li><%= @info["currently"]["windSpeed"] %> mph <%= @wind %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Feels like:</li>
          <li><%= @info["currently"]["apparentTemperature"].round %>˚</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Precipitation:</li>
          <li><%= @info["currently"]["precipIntensity"] %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Pressure:</li>
          <li><%= @info["currently"]["pressure"] %> in</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Visibility:</li>
          <li><%= @info["currently"]["visibility"] %> mi</li>
        </ul>
      </li>
    </ul>
  </div>
</section>