<div class="city-detail">
  <section class="city-header">
    <h2><%= @name %></h2>
    <h4><%= summary(@info) %></h4>
    <h1><%= currentTemp(@info).round %>˚</h1>
  </section>

  <section class="today">
    <ul class="today-overview">
      <li>Saturday</li>
      <li></li>
      <li><%= highTemp(@info,0).round %>˚</li>
      <li><%= lowTemp(@info,0).round %>˚</li>
    </ul>

    <div class="today-hourly-list-container">
      <ul class="today-hourly-list" style="width: 1536px;">
        <li>
          <ul>
            <li>Now</li>
            
            <li><%= currentTemp(@info).round %>˚</li>
          </ul>
        </li>

        <% for i in 0..22 %>
        <li>
          <ul>
            <li><%= (@current+((i+1)*3600)).strftime('%l %p') %></li>
            <li><%= tempAt(@info, i+1).round %>˚</li>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </section>

  <section class="forecast">
    <ul class="forecast-list">

    <% for i in 0..7 %>
      <li>
        <ul>
          <li><%= (@current+(86400*i)).strftime('%A') %></li>
          <li><%= highTemp(@info,i).round %>˚</li>
          <li><%= lowTemp(@info,i).round %>˚</li>
        </ul>
      </li>
    <% end %>

    </ul>
  </section>

  <section class="today-details">
    <p class="today-summary"><%= dailySummary(@info) %></p>

    <ul class="today-details-list">
      <li>
        <ul>
          <li>Sunrise:</li>
          <li><%= sunrise(@info, 0) %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Sunset:</li>
          <li><%= sunset(@info, 0) %></li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Chance of Rain:</li>
          <li><%= precipChance(@info).round %>%</li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Humidity:</li>
          <li><%= humidity(@info).round %>%</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Wind:</li>
          <li><%= windspeed(@info) %> mph <%= @wind %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Feels like:</li>
          <li><%= apparentTemp(@info).round %>˚</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Precipitation:</li>
          <li><%= precip(@info) %></li>
        </ul>
      </li>
      <li>
        <ul>
          <li>Pressure:</li>
          <li><%= pressure(@info).round(3) %> in</li>
        </ul>
      </li>
      <li>
      </li>
      <li>
        <ul>
          <li>Visibility:</li>
          <li><%= visibility(@info) %> mi</li>
        </ul>
      </li>
    </ul>
  </div>
</section>